.main-content {
  /* This assumes that your sidebar is 250px wide */
  background-color: rgb(254, 252, 252);
  margin-left: 270px; /* Adjust if your sidebar width is different */
  margin-top: 12px;
  padding: 20px;
  width: 1209px;
  height: 533px;
  border-radius: 10px;
  /* Rest of your styling here */
  position: relative;
}
