/* Header.css */
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.logo-container {
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.logo-change2twin {
  margin-right: 750px;
}
.logo-change2twin,
.logo-trygons {
  width: auto; /* Adjust width automatically */
  height: 3rem; /* Use scalable units */
}

.svg {
  margin-top: 14px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 30px;
}
#drop-down {
  margin-left: 20px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
  }

  .logo-container {
    justify-content: center;
  }
}

body {
  background-color: rgb(
    212,
    212,
    249
  ); /* Example blue color; replace with your desired shade */
}

/* Responsive styling for the header */
