/* Charts.css */
.maintenance-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.first-row-section-maintenace {
  /* height: auto;  */
  width: 90%; /* 1.5y */
}

.second-row-section-maintenace,
.third-row-section-maintenace,
.fourth-row-section-maintenace {
  height: 20vh; /* 2.75x */
  width: 90%; /* 1.5y */
}

#current-date-maintenance {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: bold;
}

.section-box-maintenance {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 15vh;
}

.content-maintenance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(215, 220, 243);
  border-radius: 20px;
  width: 30%;
  margin-top: 10px;
}
.section-box-maintenance p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
#pump-filter-countdown {
  font-weight: bold;
  margin-top: 5px;
  color: rgb(140, 159, 243);
  margin-top: 15px;
}
